<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsun.myp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PostActivity"></activity>
        <activity android:name=".StartProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SelectLoginActivity" />
        <activity android:name=".WriteActivity" />
        <!--        Jtbc사회-->
        <activity android:name=".Society.JTBC.JTBCActivity" />
        <activity android:name=".Society.JTBC.JTBCWebViewActivity" />
        <!--        Jtbc정치-->
        <activity android:name=".Politics.JTBC.JTBCActivity" />
        <activity android:name=".Politics.JTBC.JTBCWebViewActivity" />
        <!--        Jtbc스포츠-->
        <activity android:name=".Sports.JTBC.JTBCActivity" />
        <activity android:name=".Sports.JTBC.JTBCWebViewActivity" />
        <!--        Jtbc연예-->
        <activity android:name=".Entertainment.JTBC.JTBCActivity" />
        <activity android:name=".Entertainment.JTBC.JTBCWebViewActivity" />
        <!--        동아 사회-->
        <activity android:name=".Society.DongA.DongaActivity" />
        <activity android:name=".Society.DongA.DongaWebViewActivity" />


        <activity
            android:name=".LogoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>